body {
  background-color: azure;
}

#main-content {
  background-color: white;
  margin: auto;
  padding: 2rem;
  width: 75%;
  display: grid;
  border-radius: 8px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}